/*
FONTS

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/*
COLOURS

Look for PDF in portfolio assets folder
*/

/*Typography*/

h1{
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif; 
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.1em;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #281d10;
}

/*Toolbox*/

/*Apply vert-center to vertically center an elements content (Parent element must have display:flex)*/

.vert-center {
     align-items: center;
     justify-content: center;
}

html,body {
    height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flex {
    display: flex;
}

/*Navigation*/

.sidebar {
    position: fixed;
    width: 100%;
    height: 25%;
    background: #edd9c0;
    z-index: 999;
    top: 0;
    
}

.nav-container {
    color: #281d10;
}

.nav-container h1 {
    font-size: 2em;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    margin-bottom: 0.7em;
}

/*Whole page modifiers*/

.content {
    height: 75%;
    width: 100%;
    position: relative;
    overflow: auto;
    z-index: 1;
    background: #c5aa90;
    display: flex;
 }

/*1st Section (Hero Image)*/

.one {
    background-image: url(../img/bg.jpg);
    height: 75%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 58%;
}

.one h1 {
    color: #edd9c0;
    width: 44%;
}

/*2nd Section (About Me)*/

.two {
    background: #c9d8c5;
    flex-direction: column;
    
}

.two div {
    width: 70%;
}





/*3rd Section (Portfolio)*/

.three {
    background: #a8b6bf;
    flex-direction: row;
    flex-wrap: wrap;
}

.three div {
    height: 50%;
    padding: 1%;
    width: 36%;
}

.three img {
    max-width: 100%;
    height: 61%;
}

/*4th Section (Contact)*/

.four {
    background: #edd9c0;
}

.hello {
          height: 12em;
          width: 12em;
          background: #a45536;
          color: white;
}
      
.hello h1 {
          font-size: 3em;
          margin-left: 0.5em;
}


/*Media Queries*/

@media only screen 
    and (min-device-width: 220px){
        
}     
      