/*
FONTS

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/*
COLOURS

Look for PDF in portfolio assets folder
*/

/*Typography*/

h1{
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif; 
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.1em;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #281d10;
}

/*Toolbox*/

/*Apply vert-center to vertically center an elements content (Parent element must have display:flex)*/

.vert-center {
     align-items: center;
     justify-content: center;
}

html,body {
    height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flex {
    display: flex;
}

/*Whole page modifiers*/

.content {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
    z-index: 1;
    background: #c5aa90;
    display: flex;
   
 }

/********************************************* Navigation/Sidebar*/

/*Dropdown menu*/

/* Dropdown Button */
.dropbtn {
    background: #edd9c0;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
/*
.dropbtn:hover, .dropbtn:focus {
    background-color: #b0b0b0;
}
*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    background: #edd9c0;
}

.dropdown button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2em;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: #edd9c0;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em; 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #e0bc90}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*Dropdown menu*/
.sidebar {
    flex-direction: column;
    width: 100%;
    height: 11%;
    background: white;
    z-index: 999;
    top: 0;
    padding-top: 1.6%;
    background: #edd9c0;
}

/*
.nav-container {
    color: #281d10;
    display: none;
    position: absolute;
    z-index: 99;
    margin: 0 auto;
    width: 100%;
    background: rgba(237, 217, 192, 0.56);
}
*/

.sidebar h1 {
    font-size: 2em;
    text-align: center;
    margin: 0;
    height: 31%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

nav ul li {
    margin-bottom: 0.7em;
}

/********************************************* 1st Section (Hero Image)*/

.one {
    background-image: url(../img/bg.jpg);
    height: 75%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.one h1 {
    color: #edd9c0;
    width: 51%;
    font-size: 1.4em;
}



/*2nd Section (About Me)*/

.two {
    background: #c9d8c5;
    flex-direction: column;
    
}

.two div {
    width: 70%;
    height: 45%;
}

.two h1{
    text-align: left;
    border-bottom: 2px solid black;
    font-size: 2em;
}

.two p {
    font-size: 1em;
    text-align: left;
    line-height: 1.7em;
}

.two ul li {
    text-align: left;
}



/********************************************* 3rd Section (Portfolio)*/

.three {
    background: #a8b6bf;
    flex-direction: row;
    flex-wrap: wrap;
}

.three div {
    height: 45%;
    padding: 1%;
    width: 100%;
}


.three img {
    width: 98%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 77%;
    max-width: 356px;
    
}

.three p, h3 {
    text-align: center;
}

.three a {
    width: 42%;
    text-align: center;
    padding-top: 1.3%;
}

/*Extra Portfolio Content*/

#primaryContent {
    height: 100%;
}

#extraContent {
    display: none;
    height: 100%;
}
/********************************************* 4th Section (Contact)*/

.four {
    background: #edd9c0;
}

.hello {
          height: 12em;
          width: 12em;
          background: #a45536;
          color: white;
}
      
.hello h1 {
          font-size: 3em;
          margin-left: 0.5em;
}


/*Media Queries*/

@media (min-width: 576px) {
    
    .sidebar {
        padding-bottom: 2%;
    }
    
    .two div {
        width: 45%;
    }
    
} 

@media (min-width: 880px) {
    
    .sidebar {
        position: fixed;
        width: 30%;
        height: 100%;
    }
    
    .dropdown-content {
        display: block;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        width: 90%;
        margin-left: 8%;
        border-left: 2px solid;
    }
    
    .dropdown i {
        display: none;
    }
    
    .one {
        height: 100%;
    }
    
    .content {
        margin-left: 30%;
        width: 70%;
    }
    
}

@media (min-width: 1050px) {
    
    .dropdown button {
        font-size: 1.3em;
    }
    
    .sidebar {
        width: 21%;
    }
    
    .content {
        width: 79%;
        margin-left: 21%;
    }
    
}
      